@theme {
  --color-primary: #F0B90B;
  --color-primary-50: #FEF8E7;
  --color-primary-100: #FCF1CE;
  --color-primary-200: #F9E39D;
  --color-primary-300: #F6D56D;
  --color-primary-400: #F3C73C;
  --color-primary-500: #F0B90B;
  --color-primary-600: #C09409;
  --color-primary-700: #906F07;
  --color-primary-800: #604A04;
  --color-primary-900: #302502;
  --color-secondary: #f0f0f0;
  --color-secondary-50: #FEFEFE;
  --color-secondary-100: #FCFCFC;
  --color-secondary-200: #F9F9F9;
  --color-secondary-300: #F6F6F6;
  --color-secondary-400: #F3F3F3;
  --color-secondary-500: #F0F0F0;
  --color-secondary-600: #C0C0C0;
  --color-secondary-700: #909090;
  --color-secondary-800: #606060;
  --color-secondary-900: #303030;
  --color-danger: #FF5733;
  --color-danger-50: #FFEEEB;
  --color-danger-100: #FFDDD6;
  --color-danger-200: #FFBCAD;
  --color-danger-300: #FF9A85;
  --color-danger-400: #FF795C;
  --color-danger-500: #FF5733;
  --color-danger-600: #CC4629;
  --color-danger-700: #99341F;
  --color-danger-800: #662314;
  --color-danger-900: #33110A;
  --color-success: #0F0;
  --color-success-50: #E6FFE6;
  --color-success-100: #CFC;
  --color-success-200: #9F9;
  --color-success-300: #6F6;
  --color-success-400: #3F3;
  --color-success-500: #0F0;
  --color-success-600: #0C0;
  --color-success-700: #090;
  --color-success-800: #060;
  --color-success-900: #030;
  --color-warning: #FFD700;
  --color-warning-50: #FFFBE6;
  --color-warning-100: #FFF7CC;
  --color-warning-200: #FFEF99;
  --color-warning-300: #FFE766;
  --color-warning-400: #FFDF33;
  --color-warning-500: #FFD700;
  --color-warning-600: #CCAC00;
  --color-warning-700: #998100;
  --color-warning-800: #665600;
  --color-warning-900: #332B00;
  --color-info: #00BFFF;
  --color-info-50: #E6F9FF;
  --color-info-100: #CCF2FF;
  --color-info-200: #99E5FF;
  --color-info-300: #66D9FF;
  --color-info-400: #3CF;
  --color-info-500: #00BFFF;
  --color-info-600: #09C;
  --color-info-700: #007399;
  --color-info-800: #004C66;
  --color-info-900: #002633;
  --color-red: #FB2C36;
  --color-red-50: #FFEAEB;
  --color-red-100: #FED5D7;
  --color-red-200: #FDABAF;
  --color-red-300: #FD8086;
  --color-red-400: #FC565E;
  --color-red-500: #FB2C36;
  --color-red-600: #C9232B;
  --color-red-700: #971A20;
  --color-red-800: #641216;
  --color-red-900: #32090B;
}
